 /* Style the tab */
.tab {
  overflow: hidden;
  background-color: #ccaaff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 24px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #986ed7;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #BC8FFF;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}